<div class="comment box"> 
  <% @comments.each do | comment | %>
    <%=link_to "Comment ##{comment.id} by #{comment.user.username}", comment_path(comment.fish_slug, comment.category_slug, comment.id)%></li>
  <% end %>
</div>