<h1>New User</h1>

<%= render 'form', user: @user %>
<p>Try <%= link_to 'Signing in with the developer strategy', '/auth/developer', method: :post %>.</p>
<p>Try <%= link_to 'Signing in with the GitHub strategy', '/auth/github', method: :post %>.</p>
<%= link_to 'Back', users_path %>
