<h1> Warning. If you do not set a username your email will be publicly viewable. </h1>
  <%= form_for @user do | form | %>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <%= form.submit %>
  <% end %>