/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
      .profiler-results.profiler-bottom.profiler-right .profiler-button,
      .profiler-results.profiler-bottom.profiler-right .profiler-controls,
      .profiler-result .profiler-number,
      .profiler-button .profiler-totals,
      .profiler-reqs, .profiler-number,
      .profiler-unit, .profiler-result {
        display: none;
        z-index: none;
        color: #fff0;
        background-color: #fff0;
        border-color: #fff0;
      }
      .box {
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 1px black;
        border-radius: 5px;
        margin: auto;
        width: 70%;
        background:rgb(19, 94, 115)
      }
      body {
        background: rgb(19, 94, 0);
      }
      .user {
        padding-top: 4px;
        margin: auto;
        background:rgb(75, 94, 115);
        text-align: center;
      }
      .action {
        text-align: right;
      }
      .form {
        background: royalblue;
      }
      .form input, .button_to input[type=submit] {
        background: yellowgreen;
      }
      a {
        color: paleturquoise
      }
      