<div class="box">
We are friendly and experienced. All of our Divers are PADI or NAUI certified. If you have a question about a fish you saw you could display it on this website, just Signup and ask away! In our time diving we have found many fish, and even though there are lot’s of books dedicated to fish, there is few places to confirm what one may see in a encyclopedia. Now you have us!
</div>
<div class="left box">
<%= link_to "Newest Fish", newest_fish_path %>
</div>
<div class="right box">
<%= link_to "Recently Identified Fish", recently_solved_fish_path %>
</div>
